{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>
<p class="text-center">Bienvenue sur votre BackOffice</p>
<hr>
<a href="{{ path('admin_produits') }}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES PRODUITS</a><hr>
<a href="{{ path('admin_membres') }}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES MEMBRES</a><hr>
<a href="{{ path('admin_commandes') }}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES COMMANDES</a>
<hr>
{% endblock %}

